root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4

[*.{csproj,props,targets,slnx,xml}]
indent_style = space
indent_size = 2

[*.{yml,yaml,json,md}]
indent_style = space
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
